<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.wonders.xlab.patient"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Required -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".application.XApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="xlab#pci"/>
        <!-- 声明sdk所需的service SDK核心功能 -->
        <service android:name="com.easemob.chat.EMChatService"/>

        <!-- umeng -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56e8df59e0f55abf8a000364"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="internal"/>

        <activity
            android:name=".module.main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.MaterialColdStart">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.auth.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>

        <service
            android:name=".service.XEMChatService"
            android:enabled="true"/>

        <receiver
            android:name=".receiver.BootstrapReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.EMChatMessageBroadcastReceiver"/>

        <!-- umeng -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService"/>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <receiver android:name=".receiver.TimeClickReceiver">
        </receiver>
        <receiver android:name=".receiver.ConnectionBroadcastReceiver">
        </receiver>

        <activity
            android:name=".module.WebActivity"
            android:label="@string/title_activity_web"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".module.chatroom.ChatRoomActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.healthreport.DailyRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.DailyRecordActionBar"/>
        <activity
            android:name=".module.healthrecord.bp.BPAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".module.healthrecord.bs.BSAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".module.healthrecord.bp.BPGuideActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.healthrecord.bs.BSGuideActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.healthrecord.symptom.SymptomActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.medicalrecord.MedicalRecordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".module.main.doctors.detail.DoctorDetailActivity"
            android:label="@string/title_activity_doctor_detail"/>
        <activity
            android:name=".module.main.me.setting.SettingActivity"
            android:label="@string/title_activity_setting"/>
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/PhotoPickerTheme"/>
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/PhotoPickerTheme"/>
    </application>

</manifest>