<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.wonders.xlab.pci.doctor"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Required -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- <uses-permission android:name="android.permission.CAMERA"/> -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".application.XApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="xlab#pci"/>
        <!-- 声明sdk所需的service SDK核心功能 -->
        <service android:name="com.easemob.chat.EMChatService"/>

        <!-- umeng -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56cd7623e0f55aa80b000957"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="internal"/>
        <!-- umeng -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService"/>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <service
            android:name=".service.XEMChatService"
            android:enabled="true"/>

        <receiver
            android:name=".receiver.BootstrapReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.EMChatMessageBroadcastReceiver"/>
        <receiver android:name=".receiver.TimeClickReceiver"/>

        <activity
            android:name=".module.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.MaterialColdStart">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.login.LoginActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_login"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".module.chatroom.ChatRoomActivity"
            android:label="@string/title_activity_chat"
            android:parentActivityName=".module.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".module.MainActivity"/>
        </activity>
        <activity
            android:name=".module.chatroom.bp.BloodPressureActivity"
            android:label="@string/title_activity_blood_pressure"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".module.chatroom.userinfo.UserInfoActivity"
            android:label="@string/title_activity_user_info"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".module.chatroom.bs.BloodSugarActivity"
            android:label="@string/title_activity_bs"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".module.chatroom.symptom.SymptomActivity"
            android:label="@string/title_activity_symptom"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".module.chatroom.medicalrecord.MedicalRecordActivity"
            android:label="@string/title_activity_medical_record"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/PhotoPickerTheme"/>
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/PhotoPickerTheme"/>
        <activity
            android:name=".module.me.groupmanage.GroupListActivity"
            android:label="@string/title_activity_group_manage"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.wonders.xlab.pci.doctor.GroupListActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.me.groupmanage.GroupModifyActivity"
            android:label="@string/title_activity_group_modify"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.wonders.xlab.pci.doctor.GroupModifyActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.me.groupmanage.GroupNameModifyActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.wonders.xlab.pci.doctor.GroupNameModifyActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.me.groupmanage.GroupDescModifyActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="com.wonders.xlab.pci.doctor.GroupDescModifyActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.me.groupmanage.GroupInviteDoctorActivity"
            android:label="@string/title_activity_group_invite"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.wonders.xlab.pci.doctor.GroupInviteDoctorActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.me.groupmanage.GroupRemoveDoctorActivity"
            android:label="@string/title_activity_group_remove_doctor"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.wonders.xlab.pci.doctor.GroupRemoveDoctorActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.me.groupmanage.GroupAuthActivity"
            android:label="@string/title_activity_group_auth"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.wonders.xlab.pci.doctor.GroupAuthActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.me.groupmanage.servicemanage.GroupServicesActivity"
            android:label="@string/title_activity_group_service_list"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.wonders.xlab.pci.doctor.GroupServicesActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.me.groupmanage.servicemanage.GroupServiceModifyActivity"
            android:label="@string/title_activity_group_service_modify"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.wonders.xlab.pci.doctor.GroupServiceModifyActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".module.me.notification.NotificationActivity"
            android:label="@string/title_activity_notification"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.wonders.xlab.pci.doctor.NotificationActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>