<manifest package="xlab.wonders.com.common"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >
        <!-- Glide config -->
        <meta-data
            android:name="com.wonders.xlab.common.glide.GlideConfiguration"
            android:value="GlideModule"/>
    </application>

</manifest>
